.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../istockphoto-1428792471-640x640.jpeg") no-repeat center center/cover;
}